<style>
    #rssView {
        margin: 20px;
        height: 100%;
    }
    
    #rssConentView {
        width: 100%;
        height: 100%;
    }
    
    .alignRight {
        float: right;
    }
    
    .bold {
        font-weight: bold;
    }
</style>

<div id="rssView">
    <div id="rssButtonBar" style="overflow: hidden; height: 30px;">
        <button id="newSubscriptionButton" onclick="qBittorrent.Rss.addRSSFeed()">QBT_TR(New subscription)QBT_TR[CONTEXT=RssReaderWidget]</button>
        <button id="markReadButton" onclick="qBittorrent.Rss">QBT_TR(Mark items read)QBT_TR[CONTEXT=RssReaderWidget]</button>
        <button id="updateAllButton" onclick="qBittorrent.Rss">QBT_TR(Update all)QBT_TR[CONTEXT=RssReaderWidget]</button>
            
        <button id="rssDownloaderButton" class="alignRight" onclick="qBittorrent.Rss">QBT_TR(RSS Downloader...)QBT_TR[CONTEXT=RssReaderWidget]</button>
    </div>
    <table id="rssConentView">
        <tbody id="rssTableBody">
            <tr id="rssTableRow">
                <td id="rssFeedsRow">
                    <table id="rssFeedsView">
                        <thead>
                            <td>RSS feeds</td>
                        </thead>
                        <tbody id="rssFeedsViewBody"></tbody>
                    </table>
                </td>
                <td>
                    <table id="rssTorrentView">
                        <thead>
                            <td>Torrents</td>
                        </thead>
                        <tbody id="rssTorrentViewBody"> </tbody>
                    </table>
                </td>
                <td>
                    <div id="rssDetailsView">
                    </div>    
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    'use strict';

    if (window.qBittorrent === undefined) {
        window.qBittorrent = {};
    }

    window.qBittorrent.Rss = (function() {
        const exports = function() {
            return {
                init: init,
                addRSSFeed: addRSSFeed,
                showRssFeed: showRssFeed,
                showUnreadRssFeed: showUnreadRssFeed,
                showDetails: showDetails,
                updateRssFeedList: updateRssFeedList
            };
        };

        let feedData;

        const init = function() {
            updateRssFeedList();
        };
        
        const addRSSFeed = function() {
            const url = new URI('api/v2/rss/addFeed');
            
            var feedURL = prompt('Please type a RSS feed URL', 'http://');
            console.log(feedURL);

            if (feedURL != null) {
                new Request({
                    url: url,
                    noCache: true,
                    method: 'post',
                    data: {
                        url: feedURL,
                        path: ""
                    },
                    onFailure: function(response) {
                        if (response.status == 409) {
                            alert(response.responseText);
                        }
                    },
                    onSuccess: function(response) {
                        updateRssFeedList();
                    }
                }).send();
            }
        };
        
        const showRssFeed = function(feedUid) {
            $('rssTorrentViewBody').empty();
            feedData[feedUid].sort((e1, e2) => new Date(e2.date) - new Date(e1.date))
                .each(torrentEntry => {
                $('rssTorrentViewBody').append((() => {
                    let rssTorrentRow = document.createElement('tr');
                    rssTorrentRow.innerText = torrentEntry.title;
                    rssTorrentRow.setAttribute("data-id", torrentEntry.id);
                    if (!torrentEntry.isRead){
                        rssTorrentRow.addClass("bold");
                    }
                    rssTorrentRow.onclick = function() {
                        qBittorrent.Rss.showDetails(feedUid, torrentEntry.id);
                    }
                    return rssTorrentRow;
                })());
            });
        }

        const showUnreadRssFeed = function() {
            $('rssTorrentViewBody').empty();
            let unreadFeed = [];
            for(let feedEntry in feedData) {
                unreadFeed.append(feedData[feedEntry].filter(e => !e.isRead)
                    .map(f => {f.feedUid = feedEntry; return f;}));
            }
            unreadFeed.sort((e1, e2) => new Date(e2.date) - new Date(e1.date));

            unreadFeed.each(torrentEntry =>  {
                $('rssTorrentViewBody').append((() => {
                    let rssTorrentRow = document.createElement('tr');
                    rssTorrentRow.innerText = torrentEntry.title;
                    rssTorrentRow.setAttribute("data-id", torrentEntry.id);
                    rssTorrentRow.addClass("bold");
                    rssTorrentRow.onclick = function() {
                        qBittorrent.Rss.showDetails(torrentEntry.feedUid, torrentEntry.id);
                    }
                    return rssTorrentRow;
                })());
            });
        };

        const showDetails = function(feedUid, articleID) {
            $('rssDetailsView').empty();
            let article = feedData[feedUid].filter(article => article.id == articleID)[0];
            if (article) {
                $('rssDetailsView').append((() => {
                    let torrentName = document.createElement('p');
                    torrentName.innerText = "Name: " + article.title;
                    torrentName.setAttribute("id", "rssTorrentDetailsName");
                    return torrentName;
                })());
                $('rssDetailsView').append((() => {
                    let torrentDate = document.createElement('p');
                    torrentDate.innerText = "Date: " + article.date;
                    torrentDate.setAttribute("id", "rssTorrentDetailsDate");
                    return torrentDate;
                })());
                //Strip script before interpreting html
                let torrentDescription = document.createRange().createContextualFragment(
                        "<div id=\"rssTorrentDetailsDescription\">" + article.description.stripScripts() + "</div>");
                $('rssDetailsView').append(torrentDescription);
            }
        };
        
        const updateRssFeedList = function() {
            const url = new URI('api/v2/rss/items');
            new Request.JSON({
                url: url,
                noCache: true,
                method: 'post',
                data: {
                    withData: true
                },
                onSuccess: function(response) {
                    $('rssFeedsViewBody').empty();
                    feedData = {};
                    for(let feedEntry in response) {
                        $('rssFeedsViewBody').append((() => {
                            let rssFeedRow = document.createElement('tr');
                            let numberOfUnread = response[feedEntry].articles.map(art => !art.isRead).filter(v => v).length;
                            rssFeedRow.innerText = (response[feedEntry].title  || response[feedEntry].url) + ' (' + numberOfUnread + ')';
                            rssFeedRow.setAttribute("data-uid", response[feedEntry].uid);
                            rssFeedRow.setAttribute("data-url", response[feedEntry].url);
                            if (response[feedEntry].hasError) {
                            }
                            if (response[feedEntry].isLoading) {
                            }						
                            feedData[response[feedEntry].uid] = response[feedEntry].articles;
                            rssFeedRow.onclick = function() {
                                qBittorrent.Rss.showRssFeed(response[feedEntry].uid);
                            }
                            return rssFeedRow;
                        })());
                    }
                    //unread entry
                    $('rssFeedsViewBody').prepend((() => {
                            let unreadRow = document.createElement('tr');
                            let numberOfUnread = 0;
                            for(let feedEntry in feedData) {
                                numberOfUnread += feedData[feedEntry].map(art => !art.isRead).filter(v => v).length;
                            }
                            unreadRow.innerText = "Unread" + ' (' + numberOfUnread + ')';		
                            unreadRow.onclick = function() {
                                qBittorrent.Rss.showUnreadRssFeed("unread");
                            }
                            return unreadRow;
                        })());
                    
                }
            }).send();
        };


        return exports();
    })();
</script>