<style>
    #rssView {
        padding: 20px;
    }

    #rssConentView {
        width: 100%;
    }

    #rssFeedFixedHeaderDiv .dynamicTableHeader,  #rssArticleFixedHeaderDiv .dynamicTableHeader{
        cursor: default;
    }

    #rssTableBody {
        vertical-align: top;
    }

    .alignRight {
        float: right;
    }

    .unreadArticle {
        color: blue;
    }
</style>

<div id="rssView">
    <div id="rssButtonBar" style="overflow: hidden; height: 30px;">
        <button id="newSubscriptionButton" onclick="qBittorrent.Rss.addRSSFeed()">QBT_TR(New subscription)QBT_TR[CONTEXT=RssReaderWidget]</button>
        <button id="markReadButton" onclick="qBittorrent.Rss.markSelectedAsRead()">QBT_TR(Mark items read)QBT_TR[CONTEXT=RssReaderWidget]</button>
        <button id="updateAllButton" onclick="qBittorrent.Rss.refreshAllFeeds()">QBT_TR(Update all)QBT_TR[CONTEXT=RssReaderWidget]</button>
        
        <button id="rssDownloaderButton" class="alignRight" onclick="qBittorrent.Rss.openRssDownloader()">QBT_TR(RSS Downloader...)QBT_TR[CONTEXT=RssReaderWidget]</button>
    </div>
    <table id="rssConentView">
        <tbody id="rssTableBody">
            <tr id="rssTableRow">
                <td id="rssFeedsRow" style="width:33%">
                    <div id="rssFeedFixedHeaderDiv" class="dynamicTableFixedHeaderDiv">
                        <table class="dynamicTable unselectable" style="position:relative; width:100%">
                            <thead style="width:100%">
                                <tr class="dynamicTableHeader" style="width:100%"></tr>
                            </thead>
                        </table>
                    </div>
                    <div id="rssFeedTableDiv" class="dynamicTableDiv">
                        <table class="dynamicTable unselectable" style="width:100%">
                            <thead style="width:100%">
                                <tr class="dynamicTableHeader" style="width:100%"></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </td>
                <td id="rssArticleRow" style="width:33%">
                    <div id="rssArticleFixedHeaderDiv" class="dynamicTableFixedHeaderDiv">
                        <table class="dynamicTable unselectable" style="position:relative; width:100%">
                            <thead style="width:100%">
                                <tr class="dynamicTableHeader" style="width:100%"></tr>
                            </thead>
                        </table>
                    </div>
                    <div id="rssArticleTableDiv" class="dynamicTableDiv">
                        <table class="dynamicTable unselectable" style="width:100%">
                            <thead style="width:100%">
                                <tr class="dynamicTableHeader" style="width:100%"></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </td>
                <td id="rssDetailsRow">
                    <div id="rssDetailsView">
                    </div>    
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ul id="rssFeedMenu" class="contextMenu">
    <li><a href="#update"><img src="images/qbt-theme/view-refresh.svg" alt="QBT_TR(Update)QBT_TR[CONTEXT=RssReaderWidget]"/> QBT_TR(Update)QBT_TR[CONTEXT=RssReaderWidget]</a></li>
    <li><a href="#markRead"><img src="images/qbt-theme/mail-mark-read.svg" alt="QBT_TR(Mark items read)QBT_TR[CONTEXT=RssReaderWidget]"/> QBT_TR(Mark items read)QBT_TR[CONTEXT=RssReaderWidget]</a></li>
    <li class="separator"><a href="#rename"><img src="images/qbt-theme/edit-rename.svg" alt="QBT_TR(Rename...)QBT_TR[CONTEXT=RssReaderWidget]"/> QBT_TR(Rename...)QBT_TR[CONTEXT=RssReaderWidget]</a></li>
    <li><a href="#delete"><img src="images/qbt-theme/edit-delete.svg" alt="QBT_TR(Delete)QBT_TR[CONTEXT=RssReaderWidget]"/> QBT_TR(Delete)QBT_TR[CONTEXT=RssReaderWidget]</a></li>

    <li class="separator"><a href="#newSubscription"><img src="images/qbt-theme/document-new.svg" alt="QBT_TR(New subscription...)QBT_TR[CONTEXT=RssReaderWidget]"/> QBT_TR(New subscription...)QBT_TR[CONTEXT=RssReaderWidget]</a></li>
    <li><a href="#newFolder"><img src="images/qbt-theme/folder-new.svg" alt="QBT_TR(New folder...)QBT_TR[CONTEXT=RssReaderWidget]"/> QBT_TR(New folder...)QBT_TR[CONTEXT=RssReaderWidget]</a></li>
    <li class="separator"><a href="#updateAll"><img src="images/qbt-theme/view-refresh.svg" alt="QBT_TR(Update all feeds)QBT_TR[CONTEXT=RssReaderWidget]"/> QBT_TR(Update all feeds)QBT_TR[CONTEXT=RssReaderWidget]</a></li>

    <li class="separator"><a href="#copyFeedURL" id="CopyFeedURL"><img src="images/qbt-theme/edit-copy.svg" alt="QBT_TR(Copy feed URL)QBT_TR[CONTEXT=RssReaderWidget]"/> QBT_TR(Copy feed URL)QBT_TR[CONTEXT=RssReaderWidget]</a></li>
</ul>

<ul id="rssArticleMenu" class="contextMenu">
    <li><a href="#Download"><img src="images/qbt-theme/download.svg" alt="QBT_TR(Download torrent)QBT_TR[CONTEXT=RssReaderWidget]"/> QBT_TR(Download torrent)QBT_TR[CONTEXT=RssReaderWidget]</a></li>
    <li><a href="#OpenNews"><img src="images/qbt-theme/application-x-mswinurl.svg" alt="QBT_TR(Open news URL)QBT_TR[CONTEXT=RssReaderWidget]"/> QBT_TR(Open news URL)QBT_TR[CONTEXT=RssReaderWidget]</a></li>
</ul>

<script>
    'use strict';

    if (window.qBittorrent === undefined) {
        window.qBittorrent = {};
    }
    let rssFeedTable = new window.qBittorrent.DynamicTable.RssFeedTable();
    let rssArticleTable = new window.qBittorrent.DynamicTable.RssArticleTable();

    window.qBittorrent.Rss = (function() {
        const exports = function() {
            return {
                init: init,
                addRSSFeed: addRSSFeed,
                showRssFeed: showRssFeed,
                showUnreadRssFeed: showUnreadRssFeed,
                showDetails: showDetails,
                updateRssFeedList: updateRssFeedList,
                refreshFeed: refreshFeed,
                refreshAllFeeds: refreshAllFeeds,
                markItemAsRead: markItemAsRead,
                markArticleAsRead: markArticleAsRead,
                markSelectedAsRead: markSelectedAsRead,
                openRssDownloader: openRssDownloader
            };
        };

        let feedData;
        let feedPathMap;
        let rssFeedContextMenu;
        let rssArticleContextMenu;

        const init = function() {
            rssFeedContextMenu = new window.qBittorrent.ContextMenu.RssFeedContextMenu({
                targets: '.rssFeedContextMenuTarget',
                menu: 'rssFeedMenu',
                actions: {
                    update: (el) => {
                        if (rssFeedTable.selectedRows.contains(0)) {
                            refreshAllFeeds();
                        }
                        else {
                            rssFeedTable.selectedRows.each(row => {
                                refreshFeed(rssFeedTable.rows[row].full_data.dataUid);
                            });
                        }
                    },
                    markRead: markSelectedAsRead,
                    rename: (el) => {
                        rssFeedTable.selectedRows.filter(e => e != 0).each(row => {
                            moveItem(rssFeedTable.rows[row].full_data.dataPath);
                        });
                    },
                    delete: (el) => {
                        if (confirm('Are you sure you want to delete the selected RSS feeds?')) {
                            removeItem(rssFeedTable.rows[rssFeedTable.selectedRows[0]].full_data.dataPath);
                        }
                    },
                    newSubscription: addRSSFeed,
                    newFolder: (el) => {console.log("[not implemented] folders are not implemnted");},
                },
                offsets: {
                    x: -16,
                    y: -57
                }
            });
            
            rssFeedContextMenu.addTarget($('rssFeedTableDiv'));
            //deselect feed when clicking on empty part of table
            $('rssFeedTableDiv').addEventListener("click", function(e){
                rssFeedTable.deselectAll();
                rssFeedTable.deselectRow();
            });
            $('rssFeedTableDiv').addEventListener("contextmenu", function(e){
                if (e.toElement.nodeName == "DIV") {
                    rssFeedTable.deselectAll();
                    rssFeedTable.deselectRow();
                    rssFeedContextMenu.updateMenuItems();
                }
            });

            new ClipboardJS('#CopyFeedURL', {
                text: () => {
                    let joined = "";
                    rssFeedTable.selectedRows.filter(e => e != 0).each(row => {
                        joined += rssFeedTable.rows[row].full_data.dataUrl + '\n';
                    });
                    return joined.slice(0,-1);
                }
            });
            rssFeedTable.setup('rssFeedTableDiv', 'rssFeedFixedHeaderDiv', rssFeedContextMenu);


            rssArticleContextMenu = new window.qBittorrent.ContextMenu.RssArticleContextMenu({
                targets: '.rssArticleElement',
                menu: 'rssArticleMenu',
                actions: {
                    Download: function(el) {
                        let dlString = "";
                        rssArticleTable.selectedRows.each(row => {
                            let dataEntry = rssArticleTable.rows[row].full_data;
                            dlString += dataEntry.torrentURL + "\n";
                        });
                        showDownloadPage([dlString]);
                        },
                    OpenNews: function(el) {
                        rssArticleTable.selectedRows.each(row => {
                            let dataEntry = rssArticleTable.rows[row].full_data;
                            let article = feedData[dataEntry.feedUid].filter(e => e.id == dataEntry.dataId)[0];
                            window.open(article.link);
                        });
                    }
                },
                offsets: {
                    x: -16,
                    y: -57
                }
            });
            rssArticleTable.setup('rssArticleTableDiv', 'rssArticleFixedHeaderDiv', rssArticleContextMenu);
            updateRssFeedList();
        };

        const addRSSFeed = function() {
            new MochaUI.Window({
                id: 'newFeed',
                title: "QBT_TR(Please type a RSS feed URL)QBT_TR[CONTEXT=RssReaderWidget]",
                loadMethod: 'iframe',
                contentURL: 'newfeed.html',
                scrollbars: false,
                resizable: false,
                maximizable: false,
                paddingVertical: 0,
                paddingHorizontal: 0,
                width: 350,
                height: 100
            });
        };
        
        const showRssFeed = function(feedUid) {
            rssArticleTable.clear();
            let rowCount = 0;
            feedData[feedUid].sort((e1, e2) => new Date(e2.date) - new Date(e1.date))
                .each(torrentEntry => {
                rssArticleTable.updateRowData({
	                rowId: rowCount++,
                    name: torrentEntry.title,
                    feedUid: feedUid,
                    dataId: torrentEntry.id,
                    torrentURL: torrentEntry.torrentURL,
                    isRead: torrentEntry.isRead
                });
            });
            $('rssDetailsView').empty();
            rssArticleTable.updateTable(false);
        };

        const showUnreadRssFeed = function() {
            rssArticleTable.clear();
            let rowCount = 0;
            let unreadFeed = [];
            for (let feedEntry in feedData) {
                unreadFeed.append(feedData[feedEntry].filter(e => !e.isRead)
                    .map(f => {f.feedUid = feedEntry; return f;}));
            }
            
            unreadFeed.sort((e1, e2) => new Date(e2.date) - new Date(e1.date))
                .each(torrentEntry =>  {
                rssArticleTable.updateRowData({
	                rowId: rowCount++,
                    name: torrentEntry.title,
                    feedUid: torrentEntry.feedUid,
                    dataId: torrentEntry.id,
                    isRead: false
                });
            });
            $('rssDetailsView').empty();
            rssArticleTable.updateTable(false);
        };

        const showDetails = function(feedUid, articleID) {
            markArticleAsRead(feedPathMap.get(feedUid), articleID);
            $('rssDetailsView').empty();
            let article = feedData[feedUid].filter(article => article.id == articleID)[0];
            if (article) {
                $('rssDetailsView').append((() => {
                    let torrentName = document.createElement('p');
                    torrentName.innerText = "Name: " + article.title;
                    torrentName.setAttribute("id", "rssTorrentDetailsName");
                    return torrentName;
                })());
                $('rssDetailsView').append((() => {
                    let torrentDate = document.createElement('p');
                    torrentDate.innerText = "Date: " + article.date;
                    torrentDate.setAttribute("id", "rssTorrentDetailsDate");
                    return torrentDate;
                })());
                //Strip script before interpreting html
                let torrentDescription = document.createRange().createContextualFragment(
                        "<div id=\"rssTorrentDetailsDescription\">" + article.description.stripScripts() + "</div>");
                $('rssDetailsView').append(torrentDescription);
            }
        };
        
        const updateRssFeedList = function() {
            const url = new URI('api/v2/rss/items');
            new Request.JSON({
                url: url,
                noCache: true,
                method: 'post',
                data: {
                    withData: true
                },
                onSuccess: function(response) {
                    rssFeedTable.clear();
                    feedData = {};
                    feedPathMap = new Map();
                    let rowCount = 0;
                    //flatten folder structure
                    let flattenedResp = {};
                    function recFlatten(current, fullName = '') {
                        if (current.uid !== undefined)
                            flattenedResp[fullName] = current;
                        else
                            for (let child in current)
                                recFlatten(current[child], fullName ? fullName + "\\" + child : child);
                    }
                    recFlatten(response);

                    for (let feedEntry in flattenedResp) {
                        feedPathMap.set(flattenedResp[feedEntry].uid, feedEntry);
                        let numberOfUnread = flattenedResp[feedEntry].articles.map(art => !art.isRead).filter(v => v).length;
                        let statusImage = "images/qbt-theme/application-rss+xml.svg";
                        if (flattenedResp[feedEntry].hasError)
                            statusImage = "images/qbt-theme/unavailable.svg";
                        if (flattenedResp[feedEntry].isLoading)
                            statusImage = "images/skin/spinner.gif";
                        
                        rssFeedTable.updateRowData({
                            state_icon: statusImage,
                            rowId: (rowCount+1),
                            name: feedEntry + ' (' + numberOfUnread + ')',
                            dataUid: flattenedResp[feedEntry].uid,
                            dataUrl: flattenedResp[feedEntry].url,
                            dataPath: feedEntry
                        });
                        feedData[flattenedResp[feedEntry].uid] = flattenedResp[feedEntry].articles;
                        ++rowCount;
                    }
                    //unread entry
                    let numberOfUnread = 0;
                    for (let feedEntry in feedData) {
                        numberOfUnread += feedData[feedEntry].map(art => !art.isRead).filter(v => v).length;
                    }
                    rssFeedTable.updateRowData({
                        state_icon: "images/qbt-theme/mail-folder-inbox.svg",
                        rowId: 0,
                        name: 'Unread' + ' (' + numberOfUnread + ')',
                        dataUid: "",
                        dataUrl: "",
                        dataPath: ""
                    });
                    rssFeedTable.updateTable(false);
                    rssFeedTable.updateIcons();
                }
            }).send();
        };

        const refreshFeed = function(feedUid, callback = () => {}) {
            const url = new URI('api/v2/rss/refreshItem');
            new Request({
                url: url,
                noCache: true,
                method: 'post',
                data: {
                    itemPath: feedPathMap.get(feedUid)
                },
                onSuccess: function(response) {
                    callback(0);
                },
                onFailure: function(response) {
                    callback(1);
                }
            }).send();
        };

        const refreshAllFeeds = function() {
            var promises = [];
            for (let feedEntry in feedData) {
                promises.push(new Promise(function(resolve, reject) {
                    refreshFeed(feedEntry, r => {
                        if (r == 0)
                            resolve();
                        else
                            reject();
                    });
                }));
            }
            Promise.all(promises).then(async function() {
                //needs to be replaced by auto reload
                await new Promise((e) => {setTimeout(e, 1000);});
                updateRssFeedList();
            });
        };

        const moveItem = function(oldPath) {
            new MochaUI.Window({
                id: 'renamePage',
                title: "QBT_TR(Please choose a new name for this RSS feed)QBT_TR[CONTEXT=RssReaderWidget]",
                loadMethod: 'iframe',
                contentURL: 'rename_feed.html?' + encodeURIComponent(oldPath),
                scrollbars: false,
                resizable: false,
                maximizable: false,
                paddingVertical: 0,
                paddingHorizontal: 0,
                width: 350,
                height: 100
            });
        };

        const removeItem = function(path) {
            const url = new URI('api/v2/rss/removeItem');
            new Request({
                url: url,
                noCache: true,
                method: 'post',
                data: {
                    path: path
                },
                onSuccess: function(response) {
                    updateRssFeedList();
                },
                onFailure: function(response) {
                    if (response.status == 409) {
                        alert(response.responseText);
                    }
                }
            }).send();
        };

        const markItemAsRead = function(path) {
            const url = new URI('api/v2/rss/markItemAsRead');
            new Request({
                url: url,
                noCache: true,
                method: 'post',
                data: {
                    path: path
                },
                onSuccess: function(response) {
                    updateRssFeedList();
                },
                onFailure: function(response) {
                    if (response.status == 409) {
                        alert(response.responseText);
                    }
                }
            }).send();
        };

        const markArticleAsRead = function(path, id) {
            const url = new URI('api/v2/rss/markArticleAsRead');
            new Request({
                url: url,
                noCache: true,
                method: 'post',
                data: {
                    itemPath: path,
                    articleId: id
                },
                onSuccess: function(response) {
                    updateRssFeedList();
                },
                onFailure: function(response) {
                    if (response.status == 409)
                        alert(response.responseText);
                }
            }).send();
        };
        
        const markSelectedAsRead = function() {
            if (rssFeedTable.selectedRows.contains(0)) {
                rssFeedTable.rows.filter(e => e.rowId != 0).each(row => {
                    markItemAsRead(row.full_data.dataPath);
                });
            }
            else {
                rssFeedTable.selectedRows.each(row => {
                    markItemAsRead(rssFeedTable.rows[row].full_data.dataPath);
                });
            }
        };

        const openRssDownloader = function() {

        };

        return exports();
    })();



</script>